
/* Type / Element selector - Least specific */
li {
    border: 2px solid blue;
}

/* Class selector - More specific than Element selector, but less specific than
ID selector */
.completed {
    text-decoration: line-through;
}

/* ID selector - Most specific, right under inline CSS styles */
#shopping {
    background: orange;
    color: purple;
}
