h1 {
    color: #66CCFF;
    background: blue;
    border: 5px solid white;
}

li {
    color: #FD8008;
    background: yellow;
}

h4 {
    color: #FB0280;
    background: #21FFFF;
}

body {
    background: pink;
}
